.aboutMe {
  height: 100vh;

  & h3 {
    font-size: 1.8rem;
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    font-family: $font-family !important;
  }

  & h2 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    line-height: $line-height;
    @include themed() {
      color: t("color");
      background: t("bg-about");
    }
  }

  &__skills {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include MQ(md) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  & .skill {
    padding: 10px 20px;
    border: 1px solid;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: $line-height;
    letter-spacing: 0rem;
    border-radius: 10px;
    box-shadow: -1px -3px 5px white, 1px 3px 5px $background-light-banner;
    transition: all 0.5s ease-in-out;
    cursor: default;
    font-weight: 600;
    &:hover {
      // margin-top: -10px;
      transform: translateY(-10px);
    }
    @include themed() {
      color: t("color");
      background: t("bg-banner");
      border-color: t("bg-banner");
    }
  }

  @include MQ(md) {
    height: auto;
  }
  // Theme include
  @include themed() {
    color: t("color");
    background: t("bg-about");
  }
}
