.banner {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  font-family: $font-family !important;

  & h1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: $line-height;
    // text-transform: capitalize;

    @include MQ(sm) {
      font-size: 3.5rem;
      font-weight: 600;
    }
  }

  & h3 {
    font-size: 1.8rem;
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    padding-left: 80px;
    margin-left: -30px;
    // margin-bottom: 0.6rem;
    font-family: $font-family !important;

    &::before {
      display: block;
      content: "";
      width: 60px;
      height: 2px;
      background-color: #a5a5a5;
      margin-top: -1.5px;
      position: absolute;
      left: 0;
      top: 50%;

      @include MQ(sm) {
        margin-top: 0;
        width: 40px;
      }
    }

    @include MQ(sm) {
      padding-left: 55px;
      font-size: 1rem;
      margin-left: 0px;
    }
  }

  & button {
  }

  @include themed() {
    color: t("color");
    background: t("bg-banner");
  }
}

// $line-color-light: rgba(28, 29, 37, 1);

.works {
  height: auto;
  font-family: $font-family !important;
  font-weight: 500;

  & h3 {
    font-size: 1.8rem;
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    font-family: $font-family !important;
  }

  & h2 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    line-height: $line-height;
    @include themed() {
      color: t("color");
      // background: t("bg-about");
    }
  }

  &__box {
    height: 100%;
    width: 80%;
    // max-width: 950px;
    position: relative;
    margin: auto;

    @include MQ(md) {
      width: 100%;
      padding: 0 1rem;
    }
  }

  &__cards {
    display: block;
    opacity: 1;
    height: 480px;
    background-color: #1c1d25;
    position: relative;
    box-shadow: 0 20px 80px 0 #00000073;
    margin-left: auto;
    margin-right: auto;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.35s ease-in-out;
    margin: auto;
    margin-top: 6rem;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      content: " ";
      background: #1c1d25;
      opacity: 0.6;
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    &:hover {
      box-shadow: 0 20px 80px 0 rgb(0 0 0 / 65%);

      & .overlay {
        width: 100%;
        z-index: 2;
        opacity: 0.8;
      }

      & .works__cards__content {
        transform: scale(1.1);
      }
    }

    &.left {
      margin-left: 1.5rem;
      margin-right: -1.5rem;

      @include MQ(md) {
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }
    &.right {
      margin-left: -1.5rem;
      margin-right: 1.5rem;

      @include MQ(md) {
        margin-left: 0rem;
        margin-right: 0rem;
      }
    }

    & .overlay {
      background: #263653;
      width: 0;
      position: absolute;
      top: 0;
      height: 100%;
      transition: width 0.35s ease-in-out;
    }

    &__content {
      position: absolute;
      color: white;
      width: 60%;
      height: auto;
      top: 50%;
      text-align: left;
      left: 10%;
      z-index: 3;
      transition: all 0.35s ease-in-out;

      &__title {
        font-size: 3rem;
        letter-spacing: 0.5rem;
        position: relative;
        line-height: 1.2;
        font-weight: 500;
      }

      &__des {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.5rem;
      }

      @include MQ(md) {
        width: auto;
      }
    }
  }

  & .cta {
    margin: 0;
    padding: 17px 22px;

    @include themed("dark") {
      color: t("color");
      stroke: t("stroke");
    }
  }

  @include themed() {
    color: t("color");
    background: t("bg-banner");
  }
}

.movingCircle {
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonAnimation {
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #f06449;
  background: linear-gradient(270deg, #f06449, #ef3636);
  color: #fff;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  border: none;

  & .overlay {
    position: absolute;
    background: #1984ea;
    z-index: -1;
    transition: width 0.35s ease-in-out;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    left: 0%;
  }

  &:hover {
    // color: white;
    outline-width: 0;
    & .overlay {
      z-index: 1;
      transform: translateX(200px);
      transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1),
        -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
      // // width: 100%;
      // animation-name: example;
      // animation-duration: 0.5s;
      // animation-iteration-count: 1;
    }
  }
  @keyframes example {
    0% {
      left: 10%;
      width: 100%;
    }
    25% {
      left: 30%;
      width: 100%;
    }
    50% {
      left: 60%;
      width: 100%;
    }
    75% {
      left: 90%;
      width: 100%;
    }
    100% {
      left: 100%;
      width: 100%;
    }
  }
  // &:hover {
  //   background: #1984ea;
  //   color: white;
  //   transition: all 0.3s ease;
  // }
}

a {
  text-decoration: none;
  color: inherit;
}
$color: #111;
$primary: #ffab9d;

a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;

    &:hover {
      width: 100%;
      background: #ffab9d;
    }
  }

  & span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }

  & svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &:hover {
    text-decoration: none;

    & svg {
      transform: translateX(0);
    }
  }
  &:hover:before {
    width: 100%;
    // background: #ffab9d;
    background: rgba(255, 171, 157, 0.5);
  }

  &:active {
    transform: scale(0.96);
  }

  @include themed() {
    color: t("color");
    stroke: t("stroke");
  }
}

.footer {
  height: auto;
  font-family: $font-family !important;
  font-weight: 500;

  & h3 {
    font-size: 1.8rem;
    color: #a5a5a5;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    position: relative;
    font-family: $font-family !important;
  }

  & h2 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    position: relative;
    line-height: $line-height;
    @include themed() {
      color: t("color");
    }
  }

  @include themed() {
    color: t("color");
    background: t("bg-about");
  }
}
