// .light-theme {
$font-family: "Inter", sans-serif;
$font-weight: 500;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-weight-normal: 500;
$line-height: 1.2;

// Light Theme
$font-color-light: #1d1d1f;
$background-light: white;
// Dark Theme
$font-color-dark: white;
$background-dark: #1d1d1f;
