@import "./base/variable";

@import "./base//mixin";

// Page Style
@import "./Component/nav";

@import "./Component/home";

@import "./Component/about";

.themeSelector {
  position: fixed;
  top: 106px;
  right: 50px;
  cursor: pointer;
  display: flex;
  transform: rotate(180deg);
  font-size: 2rem;
  background: transparent;

  &::before {
    display: block;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #a5a5a5;
    position: absolute;
    left: 9px;
    top: 31px;
  }
  @include MQ(sm) {
    top: 110px;
  }
  @include themed() {
    color: t("color");
  }
}
.socialIcons {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 1.5rem;
  display: flex;
  grid-gap: 20px;
  cursor: pointer;
  // &::before {
  //   display: block;
  //   content: "";
  //   width: 4px;
  //   height: 51px;
  //   background-color: #a5a5a5;
  //   position: absolute;
  //   left: 8px;
  //   bottom: -49px;
  // }
  @include themed() {
    color: t("color");
  }
}
