@import "./base/variable";

@import "./base//mixin";

// Page Style
@import "./Component/nav";

@import "./Component/home";

.themeSelector {
  position: fixed;
  top: 106px;
  right: 50px;
  /* padding-right: 10px; */
  cursor: pointer;
  display: flex;
  /* margin-top: 1px; */
  transform: rotate(180deg);
  font-size: 2rem;

  &::before {
    display: block;
    content: "";
    width: 4px;
    height: 50px;
    background-color: #a5a5a5;
    /* margin-top: -1.5px; */
    position: absolute;
    left: 9px;
    top: 31px;
  }
  @include MQ(sm) {
    top: 110px;
  }
  @include themed() {
    color: t("color");
    background: t("bg");
  }
}
